/* General Top nav one styles */
#top-nav-one {
    padding-top: 1em;
    padding-bottom: 1em;
}

/* site logo */
#site-logo {
    font-weight: bold;
    text-decoration: none;
    color: #171a21;
}

/* top nav one list */
#t-n-o-l {}

/* top nav one list item */
.t-n-o-l-i {
    list-style: none;
}

/* top nav one list link */
.t-n-o-l-i-l {
    text-decoration: none;
    color: #171a21;
    font-weight: 500;
    background-color: #e5e5e5;
    border: 0;
    border-radius: 3px;
}

/* feedback */
#feedback {}

/* login */
#login {}

/* signin */
#signin {
    color: #c7d5e0;
    background-color: #171a21;
}

/* media queries */
@media screen and (max-width: 320px) {
    #top-nav-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* site logo */
    #site-logo {
        font-size: 18px;
    }

    /* top nav one list */
    #t-n-o-l {}

    /* top nav one list item */
    .t-n-o-l-i {}

    /* top nav one list link */
    .t-n-o-l-i-l {
        padding: .4em .5em;
        font-size: 14px;
    }

    /* feedback */
    #feedback {
        display: none;
    }

    /* login */
    #login {}

    /* signin */
    #signin {
        display: none;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #top-nav-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* site logo */
    #site-logo {
        font-size: 18.25px;
    }

    /* top nav one list */
    #t-n-o-l {
        display: flex;
        align-items: center;
        gap: .25em;
    }

    /* top nav one list item */
    .t-n-o-l-i {}

    /* top nav one list link */
    .t-n-o-l-i-l {
        padding: .4em .5em;
        font-size: 14.25px;
    }

    /* feedback */
    #feedback {
        display: none;
    }

    /* login */
    #login {}

    /* signin */
    #signin {
        display: none;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    #top-nav-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* site logo */
    #site-logo {
        font-size: 18.5px;
    }

    /* top nav one list */
    #t-n-o-l {
        display: flex;
        align-items: center;
        gap: 0.25em;
    }

    /* top nav one list item */
    .t-n-o-l-i {}

    /* top nav one list link */
    .t-n-o-l-i-l {
        padding: .4em .5em;
        font-size: 14.5px;
    }

    /* feedback */
    #feedback {
        display: none;
    }

    /* login */
    #login {}

    /* signin */
    #signin {}
}

@media (min-width: 769px) and (max-width: 1024px) {
    #top-nav-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* site logo */
    #site-logo {
        font-size: 19px;
    }

    /* top nav one list */
    #t-n-o-l {
        display: flex;
        align-items: center;
        gap: .25em;
    }

    /* top nav one list item */
    .t-n-o-l-i {}

    /* top nav one list link */
    .t-n-o-l-i-l {
        padding: .4em .5em;
        font-size: 15px;
    }

    /* feedback */
    #feedback {}

    /* login */
    #login {}

    /* signin */
    #signin {}
}

@media (min-width: 1025px) and (max-width: 1200px) {
    #top-nav-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* site logo */
    #site-logo {
        font-size: 19.25px;
    }

    /* top nav one list */
    #t-n-o-l {
        display: flex;
        gap: .5em;
    }

    /* top nav one list item */
    .t-n-o-l-i {}

    /* top nav one list link */
    .t-n-o-l-i-l {
        padding: .4em .5em;
        font-size: 15px;
    }

    /* feedback */
    #feedback {}

    /* login */
    #login {}

    /* signin */
    #signin {}
}

@media screen and (min-width: 1201px) {
    #top-nav-one {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* site logo */
    #site-logo {
        font-size: 20px;
    }

    /* top nav one list */
    #t-n-o-l {
        display: flex;
        gap: .25em;
    }

    /* top nav one list item */
    .t-n-o-l-i {}

    /* top nav one list link */
    .t-n-o-l-i-l {
        padding: .4em .5em;
        font-size: 15px;
    }

    /* feedback */
    #feedback {}

    /* login */
    #login {}

    /* signin */
    #signin {}
}